useDynLib(TransitionModels, .registration = TRUE, .fixes = "C_")

import("Formula")
import("mgcv")
import("topmodels")

importFrom("grDevices", "rgb")

importFrom("graphics", "barplot", "grid", "hist", "lines", "par",
  "points", "rug")

importFrom("stats", "median", "runif",
  "as.formula", "binomial", "density", "dnorm",
  "fitted", "lm", "model.frame", "model.response", "na.omit",
  "pnorm", "ppoints", "predict", "qnorm", "qqnorm",
  "quantile", "residuals", "sd", "terms", "update")

export(
  "tm",
  "tm_data",
  "tm_dist"
)

S3method(plot, tm)
S3method(predict, tm)
S3method(residuals, tm)
S3method(logLik, tm)
S3method(summary, tm)
S3method(print, tm)
S3method(rootogram, tm)

